@charset 'UTF-8';

@import "layui";
.dark {
    .leetcodeRating-search,
    .layui-panel,
    #id-dropdown,
    [lay-id=id-dropdown] ul,
    [lay-id=id-dropdown] ul li,
    [lay-id=id-dropdown] .layui-menu-body-title a,
    .leetcodeRating-search input{
        background-color: rgb(26 26 26/var(--tw-bg-opacity));
        border-color: hsl(var(--sd-border));
        color: rgb(200 200 200 / var(--tw-text-opacity)) !important;
    }

    .mycircle {
        stroke:white;
        stroke-width:2;
        fill:white;
    }
    
    .myfont {
        color:black;
    }

    .layui-input:hover, 
    .layui-textarea:hover {
        border-color: #999 !important;
    }
    
    .layui-menu-body-title:hover,
    .layui-menu-body-title a:hover {
        background-color: var(--fill-quaternary) !important;
    }
}
